.itemContainer {
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.41);
  display: flex;
  justify-content: space-between;
  padding: 0 16px;

  color: var(--white, #fbfbfb);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: -webkit-fill-available;
}

.itemLeftContainer {
  align-items: center;
  display: flex;
  gap: 16px;
  width: fit-content;
}

.itemLeftContainerCube {
  border-radius: 2px;
  height: 24px;
  flex-shrink: 0;

  width: 24px;
}

.itemRigtContainer {
  align-items: center;
  display: flex;

  width: fit-content;
}
