@import "../../styles/variables.css";

.allContainer {
  display: flex;
  flex-flow: column;
  /* height: 100%; */
  width: 100%;
  height: -webkit-fill-available;
}

.dashboardContainer {
  display: flex;
  flex-flow: column;
  background: var(--gradient-background);
  flex-grow: 1;
  /* overflow: auto; */
  color: white;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  /* background: rgba(47, 21, 176, 0.73); */

  background: linear-gradient(
    270deg,
    var(--secondary-color) 3.2%,
    var(--primary-color) 99.98%
  );
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
}

.modalLogoutActionCenter {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  /* width: 100%; */
}

.closeButton {
  display: none;
}

.modalHeader {
  z-index: 10000;
  height: 60px;
  background: linear-gradient(270deg, #2e1746 3.2%, #2e225f 99.98%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 12px 20px 11.51px 20px;
  width: -webkit-fill-available;
}

.logoHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoHeaderContainer img {
  width: 17.106px;
  height: 17.106px;
}

.logoHeaderContainer span {
  color: #fbfbfb;
  font-size: 12.84px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.userContainer {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);

  gap: 12px;
}

.userContainer p {
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.logoContainer {
  display: none;
}

.question {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 40px;
  margin-top: 239px;

  width: 214px;
}

.modalButtonsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

@media screen and (width >= 768px) {
  .allContainer {
    height: 100vh;
    width: 100%;
  }

  .modalLogoutActionCenter {
    border-radius: 8px;
    height: fit-content;
    padding: 60px 117px;
    width: fit-content;
  }

  .modalHeader {
    display: none;
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logoContainer img {
    width: 35.951px;
    height: 35.974px;
  }

  .logoContainer span {
    color: #fbfbfb;
    font-size: 26.963px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .question {
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-bottom: 52px;
    margin-top: 52px;
  }
}

@media screen and (width >= 1024px) {
  .main {
    flex-direction: row;
    height: -webkit-fill-available;
    /* width: calc((100vw * 62.5) / 100); */
  }

  .dashboardContainer {
    height: -webkit-fill-available;
  }
}
