@import "../../styles/variables.css";

.logoutContainer {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.exit {
  display: none;
}

.icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  color: var(--text-color);
}

.icon:hover,
.exit:hover {
  color: var(--icon-violet);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (width >=768px) {
  .header {
    height: 80px;
    padding: 16px 28px 15.53px 32px;
  }

  .logoContainer img {
    width: 23.489px;
    height: 22.468px;
  }

  .logoContainer span {
    font-size: 17.097px;
  }

  .exit {
    display: block;
    color: var(--white-60, rgba(255, 255, 255, 0.6));
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media screen and (width >=768px) {
  .exit {
    display: block;
    color: var(--white-60, rgba(255, 255, 255, 0.6));
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
