.homeTabContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* justify-content: center; */
  /* padding: 0 20px */
  /* height: -webkit-fill-available; */
  min-height: calc(100vh - 255px);
  padding: 0 20px 80px;
}

.balanceContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (width >= 768px) {
  .homeTabContainer {
    margin-top: 20px;
    min-height: calc(100vh - 450px);
    padding: 0 32px;
  }

  .balanceContainer {
    display: none;
  }
}

@media screen and (width >= 1024px) {
  .homeTabContainer {
    min-height: inherit;
    margin: 0;
    padding-left: 69px;
    padding-right: 16px;
  }
}
