@import "../../styles/variables.css";

.header {
  height: 60px;
  background: linear-gradient(270deg, #2e1746 3.2%, #2e225f 99.98%);
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 12px 20px 11.51px 20px;
  width: -webkit-fill-available;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContainer img {
  width: 17.106px;
  height: 17.106px;
}

.logoContainer span {
  color: #fbfbfb;
  font-size: 12.84px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.userContainer {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);

  gap: 12px;
}

.userContainer p {
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

@media screen and (width >=768px) {
  .header {
    height: 80px;
    padding: 16px 28px 15.53px 32px;
  }

  .logoContainer img {
    width: 23.489px;
    height: 22.468px;
  }

  .logoContainer span {
    font-size: 17.097px;
  }
}

@media screen and (width >=1024px) {
  .header {
    padding: 16px 28px 15.53px 16px;
  }
}
