.container {
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  min-height: calc(100vh - 255px);
}

@media screen and (width >= 768px) {
  .container {
    display: none;
  }
}
